<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hesen.crawler.dao.ItemDao">
    <select id="countItemByCriterion" resultType="int">
        select count(*)
        from tb_item
        <where>
            <if test="sku != null">
                sku = #{sku}
            </if>
            <if test="brandId != null">
                and brand_id = #{brandId}
            </if>
        </where>
    </select>

    <select id="selectItemByCriterion" resultType="com.hesen.crawler.entity.Item">
        select item_id, sku, item_title, brand_id, desc_url, image
        from tb_item
        <where>
            <if test="sku != null">
                sku = #{sku}
            </if>
            <if test="brandId != null">
                and brand_id = #{brandId}
            </if>
        </where>
    </select>

    <insert id="insertItem">
        insert into tb_item (
            sku, item_title, brand_id, desc_url, image
        ) values (
            #{sku}, #{itemTitle}, #{brandId}, #{descUrl}, #{image}
        )
    </insert>
</mapper>